* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(253, 253, 253);
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  

}

nav2{
  text-align: left;
}


nav{
  flex : 1;
  text-align: right;
}


nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color:rgb(253, 253, 253);

}

p{
  color:rgb(253, 253, 253);
}

.container3 {
  width: 100%;
  margin: auto;
  background: rgb(210, 209, 209);
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;

}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;

}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px;

}
.container {
  height: 70vh;
  width: 100%;
  background: rgb(210, 209, 209);
}

.container2 img {
  width: 100%;
  position: absolute;
  height: 95vh;
  object-fit:scale-down;
  z-index: 1;
}

.main-title {
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -100%);
  color:rgb(255, 246, 246);
}

.content1 {
  width: 100%;
  background: rgb(210, 209, 209);
  min-height: 100vh;
  z-index: 2;
  font-size: 5rem;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  position: absolute;
}

.text {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 5rem;
  transform: translate(-50%, -30%);
}



.small-container {
  width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 400px;
  padding-bottom: 300px;
  background: rgb(210, 209, 209);;
}
.small-container2 {
  width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 300px;
  background: rgb(210, 209, 209);;
}
.row {
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 120px;
  padding-right: 120px;
}

.col-4, .col-2 {
  padding: 10px;
  min-width: 100px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.btn{
  display: inline-block;
  background-color: rgb(255, 169, 169);
  color: black;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;

}
.title {
  text-align: left;
  margin: 0 auto 80px;
  position:relative;
  line-height: 70px;
  font-size: xx-large;
  color:rgb(0, 0, 0);
}
.contact-title{
  position: absolute;
  top: 35%;
  left: 20%;
  font-size: 3rem;
  transform: translate(-50%, -30%);
  color:rgb(255, 246, 246);
}
h4 {
  color:rgb(0, 0, 0);
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
  color:rgb(0, 0, 0);
}
.col-4:hover {
  transform: translateY(-25px);
}

     /* footer */
     .footer{
      background:rgb(0, 0, 0);
      color:rgb(255, 255, 255);
      font-size: 15px;
      padding: 60px 0 20px;
    }


    .footer-col-1 {
      min-width: 250px;
      margin-bottom: 10px;
      flex-basis: 90%;
      text-align: left;
    }
  

    ul {
      list-style-type:  none;

    }

    .footer hr {
      border: none;
      background-color: black;
      height: 1px;
      margin: 20px 0;
    }

    .copyright {
      text-align: center;
    }

    .menu-icon {
      width: 28px;
      margin-left: 20px;
      display: none;
    }

   /* ----menu query----*/

   @media only screen and (max-width:800px) {
     nav ul {
       position: absolute;
       top: 70px;
       left: 0;
       width: 100%;
       background:rgb(126, 126, 126);
       overflow: hidden;
       transition:max-height 0.5s;
     }
     nav ul li{ 
       display: block;
       margin-right: 50px;
       margin-top: 10px;
       margin-bottom: 10px;

     }
     nav ul li a{ 
       color: white;
     }

     .menu-icon{
       display: block;
     }

   }

      
      /* ----menu query for less than  768px screen size---*/
      @media only screen and (max-width: 768px) {
        .row {
          text-align: center;
            display:flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-left: 50px;
            padding-right: 50px;
        }
        .col-2, col-3, col-4, .container{
          flex-basis: 100%;
        }
        .main-title {
          font-size: 30px;
          top: 20%;
          left: 50%;
        }
        .container {
          height: 100vh;
          background: rgb(210, 209, 209);
        }
        .container2 img {
          width: 100%;
          position: absolute;
          height: 80vh;
          object-fit:scale-down;
          z-index: 1;
        }
        .single-product .row{
          text-align: left;
        }
        .single-product .col-2{
          padding: 20px 0;
        }
        .single-product h1 {
          font-size: 26px;
          line-height: 32px;
        }
        
        .small-container {
          width: 100%;
        }
}

      /* ------single prod details------*/
      .product-detail {
        background-color: rgb(210, 209, 209);
      }
      .single-product {
        margin-top: 100px;
      }
      .single-product .col-2 img{
        padding: 0;
      }
      .single-product .col-2{
        padding: 20px;
      }
      .single-product h4{
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
      }
      .single-product input{
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border: 1px solid #ff523b;
        color: black;
      }
      input:focus{
        outline: none;
      }
      .small-img-row{
        display: flex;
        justify-content: space-between;
      }
      .small-img-col{
        flex-basis: 24%;
        cursor: pointer;
      }

    h2 {
      color: black;
      padding-bottom: 20px;
      padding-left: 160px;
    }
